body {
}

#banner {
  width: 100%;
}

.main {
  background: #cccccc;
  padding: 30px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#mission {
  font-size: 20px;
}

em strong {
  color: red;
}

.items {
  font-style: italic;
}

.benefits {
  background: white;
  padding: 20px;
}

h2 {
  text-align: center;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 20%;
}

.benefits-img {
  width: 50%;
}
