body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #bbbbbb;
  width: 100%;
  padding: 20px 0 20px 0;
}

.box {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

main {
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.banner {
  width: 100%;
}

.main-section {
  width: 1024px;
  margin: 0 auto;
  padding: 3em 0;
  background-color: rgba(254, 254, 254, 0.996);
}

.main-title {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 10px 5px 10px rgba(41, 37, 37, 0.296);
}

.main-section p {
  margin: 0 0 1em;
}

.main-section strong {
  font-weight: bold;
}

.main-section em {
  font-style: italic;
}

.map {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.map-content {
  width: 940px;
  margin: 0 auto;
}

.benefits {
  padding: 3em 0;
  background: #888888;
}

.benefits-contents {
  width: 640px;
  margin: 0 auto;
}

.benefits-list {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.items {
  line-height: 1.5em;
}

.items::before {
  content: "★ ";
}

.items:first-child {
  font-weight: bold;
}

.benefits-img {
  width: 60%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.54);
}

.benefits-img:hover {
  opacity: 0.8;
}

.utensils {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.map p {
  margin: 0 0 2em;
  text-align: center;
}

.video {
  width: 1024px;
  margin: 0 auto;
  width: 500px;
  margin: 2em auto;
}

footer {
  text-align: center;
  background: url(assets/bg.jpg);
  padding: 40px 0;
}

.copyright {
  color: white;
  font-size: 13px;
  margin: 20px 0;
}
